*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    font-size: 2rem;
}
header{
    background-color: gray;
    text-align: center;
}

/*design*/

nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin-left: 100px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}


/*content*/

.content h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.content p {
    background-color: black;
    border-radius: 10px;
    font-size: 30px;
    border: 5px solid maroon;
    color: white;
}
.content{
    text-align: left;
    margin: auto;
    padding: 500px;
    margin-top: -510px;
    background-image: url(Uchihafam.webp); 
    background-size: cover;
      background-attachment: fixed; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
}

/* for image*/

.the-ghost{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 500px;
    margin-top: 10px;
    border: solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px maroon;
    animation: slide 2s ease;
}
@keyframes slide{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0%);
    }
}


/* hyperlink */
.info{
    text-align: center;
    margin-top: -100px;
    margin-bottom: -305px;
    box-shadow: 5px 5px 5px maroon;
}

.info a{
    text-decoration: none;
    color: maroon;
}
.info a:hover{
    text-decoration: underline;
}


/* footer */

footer{
    text-align: center;
    padding: 10px;
    background-color: gray;
    color: white;
    margin-top: 325px;
    font-size: 20px;
}


